/* ayumi.css */
@charset "utf-8";

p,h2,li {
    text-align:center;
}

h2 {
    font-size:35px;
    font-weight:bold;
}

#wrapper{
	width:500px;
	margin:0px auto;
    padding:10px;
    background-color:rgba(255,255,255,0.8);
    border:2px solid #fff;
}

#year {
	padding:20px 0px;
    border-top:2px solid #d7203d;
    border-bottom:2px solid #d7203d;
}

#onegai {
    font-size:20px;
}
